.rating {
  --color-icon: #FEC107;
  --color-foreground: #D0D5E2; 
  display: inline-block;
  margin: 0;
}
.rating-text {
  display: none;
}
.rating-star {
  --letter-spacing: 0;
  --font-size: 1;
  --line-height: 16px;
}
.rating-star {
  --percent: calc(
    (
        var(--rating) / var(--rating-max) + var(--rating-decimal) *
          var(--font-size) /
          (var(--rating-max) * (var(--letter-spacing) + var(--font-size)))
      ) * 100% - 1px
  );
  letter-spacing: var(--letter-spacing);
  font-size: calc(22px * var(--font-size));
  line-height: var(--line-height);
  display: inline-block;
  font-family: Times;
  margin: 0;
}
@media (max-width:576px){
  .rating-star {
    font-size: calc(18px * var(--font-size));
  }
}
.rating-star::before {
  content: '★★★★★';
  background: linear-gradient(90deg, var(--color-icon) var(--percent), var(--color-foreground) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rating-count {
  display: inline-block;
  margin: 0;
  font-size: var(--font-body3-size);
  line-height: var(--font-body3-line-height);
  top: -2px;
  position: relative;
}
.product__right-column .product__rating {
  display: flex;
  align-items: center;
}
.product__right-column .rating-count{
  font-size: var(--font-body2-size);
  line-height: var(--font-body2-line-height);
  top: 1px;
}
.product__right-column .rating{
  display: inline-flex;
  margin-right: 10px;
}
@media (forced-colors: active) {
  .rating {
    display: none;
  }
  .rating-text {
    display: block;
  }
}
