.password-main {
  flex-grow: 1;
}
.password-form__error-message-wrapper:not([hidden]){
  display: flex;
  align-items: flex-start;
  color: var(--color-error);
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;
}
.password-form__error-message-wrapper svg{
  position: relative;
  top: 1px;
  flex: 0 0 auto;
  margin-right: 5px;
}
.password-form__error-message-wrapper svg path{
  fill: var(--color-error);
}
.password-logo--svg svg{
  width: var(--max-width);
  height: var(--max-height);
}
@media (min-width: 993px){
  .password__footer-text{
    margin-top: var(--padding2);
  }
}
@media (max-width: 992px){
  .password__footer-text{
    margin-top: var(--padding4);
  }
}
/**/
.password-header{
  width: 100%;
  padding: 15px 0;
}
.password-content {
  font-weight: var(--font-body-bold-weight);
  text-align: center;
}
@media (min-width:577px){
  .password-header{
    min-height: 80px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1.5fr 1fr;
    align-items: center;
  }
  .logo-in-center > *:first-child{
    justify-self: center;
    text-align: center;
    grid-column: 2;
  }
  modal-opener{
    justify-self: flex-end;
    grid-column: 3;
  }
}
@media (min-width:577px) and (max-width:992px){
  .password-header{
    grid-template-columns: 1fr 1.2fr 1fr;
  }
}
@media (max-width:992px){
  .password-header{
    min-height: 60px;
  }
}
@media (max-width:576px){
  .password-header:not(.logo-in-center){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .password-header.logo-in-center{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
  }
  .password-header:not(.logo-in-center) > *:not(:first-child){
    margin-top: 15px;
  }
  .logo-in-center > *:first-child{
    justify-self: center;
    text-align: center;
    grid-column: 2;
  }
  .logo-in-center modal-opener{
    justify-self: flex-end;
    grid-column: 3;
  }
  .logo-in-center modal-opener button span{
    display: none;
  }
  .logo-in-center .link:not(.link-only-svg) svg:first-child{
    margin-right: 0;
  }
}
/**/
.footer-blocks__container{
  padding-top: var(--padding2);
  padding-bottom: var(--padding2);
}
.footer__content-line{
  margin-top: calc(var(--vertical-padding) * -1);
  width: 100%;
  height: 1px;
  background: var(--color-lines-borders);
}
.footer__content--right{
  text-align: right;
}
.password__footer-caption + .footer-social__container{
  margin-top: 15px;
}
.footer-social__icons{
  margin-left: -20px;
  margin-top: -15px;
}
.footer-social__icons li{
  display: inline-flex;
  flex-wrap: wrap;
}
.footer-social__icons li a{
  opacity: var(--opacity-icons);
  transition: opacity var(--duration-medium) var(--animation-bezier);
  margin-left: 20px;
  margin-top: 15px;
}
.footer-social__icons li a:hover{
  opacity: 1;
}
.footer__content--right>*{
  margin-top: 15px;
}
@media (min-width: 577px){
  .footer__content--right>:first-child{
    margin-top: 0;
  }
}
@media (max-width: 992px){
  .footer-social__icons{
    margin-left: -28px;
    margin-top: -26px;
  }
  .footer-social__icons li a{
    opacity: 1;
    margin-left: 28px;
    margin-top: 26px;
  }
}
@media (max-width: 576px){
  footer{
    text-align: center;
  }
  .footer__content--right{
    text-align: center;
  }
  .footer__content--left:not(:empty) + .footer__content--right .footer-social{
    margin-top: 26px;
  }
}